.signup-form-page-container {
    display: flex;
    justify-content: center;
    background-color: #DAE0E6;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    width: 155px;
    margin-top: 5%;
    background-color: white;
    height: fit-content;
}

.auth-signup-form {
    display: flex;
    flex-direction: column;
}

.auth-signup-form > div {
    margin-top: 10px;
}

.auth-signup-form > button{
    margin-top: 10px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 1;
    padding: .5rem;
    margin-right: 5%;
    background-color: #0077D6;
    border-style: none;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    text-decoration: none;
}

.signup-form-errors-ul {
    padding: 0;
    list-style-type: none;
}