.navbar-container {
    display: flex;
    height: 35px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgrey;
}

.logo {
    height: 100%;
}


.logo > a {
    height: 100%;
    display: flex;
}

.nav-logo {
    margin-left: 10%;
    height: 100%;
}

.search-bar {
    width: 40%;
    height: 80%;
}

.search-bar > input{
    width: 100%;
    height: 100%;
}

.navbar-container > div > a {
    text-decoration: none;
}

.nav-icons-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-icons-container > div {
    margin-left: 35px;
}


.nav-icon
.nav-icon > a
{
    display: flex;
    height: 100%;
}

i {
    font-size: 25px;
}

.nav-login {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-login-buttons {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}